extends layout.pug

block content
    section.container
        div.item.logo
         div.item
            h1
                a(href="/") a #{title}
          
                form.form(method="post" action=`/editar/${data[0].movie_id}` )
                    fieldset    
                        div.container.p1
                            label.item.i-b.v-top.ph3.p_25.right(for=`${data[0].movie_id}`) id :
                            input.item.i-b.v-top.ph9.p_25#movie_id(type="text", name="movie_id", value =`${data[0].movie_id}`, disabled, required)
                            input#movie_id(type="hidden", name="id", value=`${data[0].movie_id}` required)
                        div.container.p1
                            label.item.i-b.v-top.ph3.p_25.right(for=`${data[0].title}`) titulo:
                            input.item.i-b.v-top.ph9.p_25#title(type="text", name="title", value =`${data[0].title}`)
                        div.container.p1
                            label.item.i-b.v-top.ph3.p_25.right(for=`${data[0].release_year}`) anio:
                            input.item.i-b.v-top.ph9.p_25#release_year(type="text", name="release_year", value =`${data[0].release_year}`)
                        div.container.p1
                            label.item.i-b.v-top.ph3.p_25.right(for=`${data[0].rating}`) Calificacion:
                            input.item.i-b.v-top.ph9.p_25#rating(type="text", name="rating", value =`${data[0].rating}`)
                        div.container.p1
                            label.item.i-b.v-top.ph3.p_25.right(for="images") Poster:
                            input.item.i-b.v-top.ph9.p_25#images(type="text", name="images", value =`${data[0].images}`)
                        div.container.p1
                            input.item.ph4.mauto.button.edit(type="submit", value="Editar")